<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/styles.css">
    <title>Document</title>
</head>
<body>
    <dialog class="excluir" open>
        <div class="excluir__container">
            <h2>Tem certeza que deseja excluir este produto?</h2>
                <div class="excluir__btns-container">
                    <button class="excluir__cancelar">Cancelar</button>
                    <button type="submit" class="excluir__submit-btn">Excluir</button>
                </div>
            </form>
        </div>
    </dialog>
</body>
</html>