@use "../partials/variables";

.section {
    &__featured-products {
        font-family: 'Cairo', sans-serif;
        max-width: 1170px;
        padding: 2rem 0;
        margin: auto;
    }
    &__title {
        margin-bottom: 3.125rem;
        text-align: center;
    }
    
    &__title h2 {
        color: #1c1c1c;
        font-weight: 900;
        font-size: 2.25rem;
        position: relative; 
    }
    &__title h2::after {
        position: absolute;
        left: 0;
        bottom: -0.9375rem;
        right: 0;
        height: 0.25rem;
        width: 5rem;
        background: #7fad39;
        content: "";
        margin: 0 auto;
    }
    
    &__categories {
        margin-bottom: 3.125rem;
        text-align: center;
    }
    
    &__links {
        display: flex;
        justify-content: center;
        gap: 1.5625rem;
    }
    
    &__link {
        list-style: none;
        color: #1c1c1c;
        font-size: 1.125rem;
        cursor: pointer;
    }
    
    &__link a:focus {
        border-bottom: #7fad39 solid 0.1875rem;
    }
}

a {
    text-decoration: none;
    color: #1c1c1c;
}