@use "./mixins";
@use "./variables";

.excluir {
    margin: auto;
    padding: 1rem 1.5rem;
    border: 1px solid variables.$Gray-3;
    border-radius: 5px;
    &__container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        h2 {
            font-size: 1rem;
            text-align: center;
        }
    }
    &__btns-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1rem;
        gap: 1rem;
    }
    &__cancelar {
        @include mixins.btnsStyle(variables.$Red, variables.$White);
        width: 50%;
    }
    &__submit-btn {
        @include mixins.btnsStyle(variables.$Green, variables.$White);
        width: 50%;
    }
}
