@use "./mixins";
@use "./variables";

.editar {
    margin: auto;
    padding: 1rem 1.5rem;
    border: 1px solid variables.$Gray-3;
    border-radius: 5px;
    &__container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        h2 {
            font-size: 1rem;
            text-align: center;
        }
    }
    &__inputs-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        input, select {
            width: 100%;
            padding: 0.1rem 0.5em;
            cursor: pointer;
            border-radius: 5px;
            border: 1px solid variables.$Gray-3;
            &:focus {
                outline: 1px solid variables.$Green;
            }
        }
        label {
            cursor: pointer;
        }
    }
    &__btns-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1rem;
        gap: 1rem;
    }
    &__cancelar {
        @include mixins.btnsStyle(variables.$Red, variables.$White);
        width: 50%;
    }
    &__submit-btn {
        @include mixins.btnsStyle(variables.$Green, variables.$White);
        width: 50%;
    }
}
