@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

$Green: #7FAD39;
$Gray: #F5F5F5;
$Gray-2: #dddddd;
$Gray-3: #a9a9a9;
$White: #ffffff;
$Black: #000000;
$Font-Cairo: "Cairo", sans-serif;