@charset "UTF-8";
@use "./partials/variables";
@use "./partials/header";
@use "./partials/footer";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: variables.$Font-Cairo;
}
