@charset "UTF-8";
@use "./partials/variables";
@use "./partials/header";
@use "partials/card-container";
@use "partials/card";
@use "./partials/footer";
@use "./partials/form-cadastro";
@use "./partials/modal-editar";
@use "./partials/modal-excluir";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: variables.$Font-Cairo;
}
